<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />


<div class="container">
  <div class="row">

    <div class="titulo">
      <h1>¡ATENCIÓN!</h1>
    </div>

    <hr>
    <div class="parrafo">
      <p> {{ data.message }}</p>
    </div>
    <hr>
    <div class="footer">

      <button mat-raised-button class="btn btn-warning" mat-dialog-close (click)="cancelar()" id="cancelar">
        Cancelar
      </button>

      <button mat-raised-button class="btn btn-success" style="margin-left: 8px" [mat-dialog-close]="true">
        Confirmar
      </button>


    </div>

  
  </div>
</div>